@import "_variables";

.cart-items {
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 20rem;
  overflow: auto;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 1rem 0;
}

.no-items {
  width: 100%;
  text-align: center;
  font-style: italic;
}

.actions {
  text-align: right;

  .button {
    font: inherit;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid $red;
    padding: 0.5rem 2rem;
    border-radius: 25px;
    margin-left: 1rem;
    background-color: $red;
    color: $white;

    &:hover,
    &:active {
      background-color: $marunRed;
      border-color: $marunRed;
      color: $white;
    }
  }

  .button--alt {
    color: $red;
  }

  .button--empty {
    background-color: darkgoldenrod;
    color: $white;
  }
}
